$sidenav-width: 150px; // Use desired consistent value

.sidenav-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

mat-sidenav {
  width: $sidenav-width;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-toolbar {
  background-color: #333;
  color: white;
}

.content {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

.content.sidenav-open {
  width: calc(100vw - #{$sidenav-width});
  margin-left: $sidenav-width;
}

.content.sidenav-closed {
  width: 100vw;
  margin-left: 0;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  background-color: lightsteelblue;
  opacity: 0.9;
}

mat-nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

mat-nav-list a:hover {
  background-color: gray;
  color: #fff;
  border-radius: 4px;
}

mat-nav-list a span {
  display: inline-block;
  padding: 0 0 0 8px;
}

.sidenav-list {
  background-color: lightgray;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  width: 100vw;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
}

/* global styles.scss file */
html,
body {
  overflow-y: auto;
  /* allow vertical scrolling */
}

::-webkit-scrollbar {
  display: none;
}
